firebase-functions
firebase-admin
pandas
numpy<2.0.0
requests
PyPortfolioOpt
cvxopt
scikit-learn
scipy
google-generativeai
yfinance>=0.2.0
pandas-datareader>=0.10.0
lxml
google-cloud-aiplatform>=1.38.0
fpdf2
matplotlib